{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

<form class="form" action="ca-declaration.html" method="post">

<div class="govuk-form-group">

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Carer's Allowance</span>
  Check your answers before continuing
</h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Are you still providing care for 35 hours or more each week?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "ca-q1",
                  text: "Change",
                  visuallyHiddenText: "Are you still providing care for 35 hours or more each week?"
                }
              ]
            }
          }
          ,

          {
            key: {
              text: "Has the person you provide care for changed address?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "ca-q2",
                  text: "Change",
                  visuallyHiddenText: "Has the person you provide care for changed address?"
                }
              ]
            }
          }
          ,

          {
            key: {
              text: "Is their address the same as yours?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "ca-q3",
                  text: "Change",
                  visuallyHiddenText: "Is their address the same as yours?"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="ca-declaration.html" method="post" novalidate>

        {{ govukButton({
          text: "Save and continue",
          href: "ca-declaration.html",
        isButton: yes
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
