My .npmrc file looks like this


registry=https://registry.npmjs.org/

# DWP private package registry
@dwp:registry=https://gitlab.com/api/v4/projects/report-a-change-once/packages/npm/

# Authentication token (keep this line!)
# Replace YOUR_TOKEN below with your real token
//gitlab.com/api/v4/projects/report-a-change-once/packages/npm/:_authToken=GITLAB_REGISTRY_TOKEN
strict-ssl=false
cafile=/etc/ssl/cert.pem
always-auth=true