{% extends "layouts/main-3-RACO.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.
    </span>
  </p>
</div>
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Tell DWP about a change</span>
  Check your answers before sending your changes
</h1>

<h2 class="govuk-heading-m">
  Pension Credit
</h2>

<p>
  The following information will be sent to Pension Credit.
</p>

     {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Are you a member of a couple?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Are you a member of a couple?"
                }
              ]
            }
          }
          ,

          {
            key: {
              text: "Have both of you moved permanently to a care home?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Have both of you moved permanently to a care home?"
                }
              ]
            }
          }
          ,

           {
            key: {
              text: "Are you living together as a married couple in your care home?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Are you living together as a married couple in your care home?"
                }
              ]
            }
          }
          ,

           {
            key: {
              text: "Is your care funded by the local authority?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Is your care funded by the local authority?"
                }
              ]
            }
          }
          ,

          {
            key: {
              text: "Did you own your previous property?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Did you own your previous property?"
                }
              ]
            }
          }
          ,

          {
            key: {
              text: "Have you sold your previous property?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Have you sold your previous property?"
                }
              ]
            }
          }
          ,

         {
            key: {
              text: "What is the address of your previous property?"
            },
            value: {
              text: "17 Sage Road, London, AA3 1AB"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "What is the address of your previous property?"
                }
              ]
            }
          }
          ,

          {
            key: {
              text: "What type of property is it?"
            },
            value: {
              text: "Bungalow, house or flat"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "What type of property is it?"
                }
              ]
            }
          }
          ,

          {
            key: {
              text: "How many bedrooms does this property have?"
            },
            value: {
              text: "2"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "How many bedrooms does this property have?"
                }
              ]
            }
          }
          ,

          {
            key: {
              text: "Is this property currently up for sale?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Is this property currently up for sale? "
                }
              ]
            }
          }
          ,

                    {
            key: {
              text: "Is this property the subject of divorce or dissolution proceedings?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Is this property the subject of divorce or dissolution proceedings?"
                }
              ]
            }
          }
          ,

           {
            key: {
              text: "Do you intend to live in this property? "
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Do you intend to live in this property? "
                }
              ]
            }
          }
          ,

           {
            key: {
              text: "Is this property freehold or leasehold?"
            },
            value: {
              text: "Leasehold"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Is this property freehold or leasehold?"
                }
              ]
            }
          }
          ,

           {
            key: {
              text: "How long is the lease for?"
            },
            value: {
              text: "12 months"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "How long is the lease for?"
                }
              ]
            }
          }
          ,

          {
            key: {
              text: "When did the lease start?"
            },
            value: {
              text: "27 09 2025"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "When did the lease start?"
                }
              ]
            }
          }
          ,

          {
            key: {
              text: "How much do you pay for rent or ground rent excluding VAT?"
            },
            value: {
              text: "£200"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "How much do you pay for rent or ground rent excluding VAT?"
                }
              ]
            }
          }
          ,

          {
            key: {
              text: "How often do you pay rent or ground rent?"
            },
            value: {
              text: "Monthly"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "How often do you pay rent or ground rent?"
                }
              ]
            }
          }
          ,

           {
            key: {
              text: "Are there any mortgage arrears secured on this property?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Are there any mortgage arrears secured on this property?"
                }
              ]
            }
          }
          ,

           {
            key: {
              text: "Do you receive or have you applied for a mortgage interest loan on the property?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Do you receive or have you applied for a mortgage interest loan on the property?"
                }
              ]
            }
          }
          ,

           {
            key: {
              text: "Are there any other debts secured on this property?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Are there any other debts secured on this property?"
                }
              ]
            }
          }
          ,

          {
            key: {
              text: "Has planning permission been granted for any proposed changes to this property?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Has planning permission been granted for any proposed changes to this property?"
                }
              ]
            }
          }
          ,

          {
            key: {
              text: "Has planning permission been refused for any proposed changes to this property?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Has planning permission been refused for any proposed changes to this property?"
                }
              ]
            }
          }
          ,
          
          {
            key: {
              text: "Are there any legal restrictions on this property?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Are there any legal restrictions on this property?"
                }
              ]
            }
          }
          ,

          {
            key: {
              text: "Are there any tenants living in this property or using it for business purposes?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Are there any tenants living in this property or using it for business purposes?"
                }
              ]
            }
          }
          ,

            {
            key: {
              text: "Is there anyone living in this property who is not a tenant or using it for business purposes?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Is there anyone living in this property who is not a tenant or using it for business purposes?"
                }
              ]
            }
          }
          ,

            {
            key: {
              text: "Do you own this property with anyone else?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Do you own this property with anyone else?"
                }
              ]
            }
          }
          ,

            {
            key: {
              text: "Is this property outside of Great Britain?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Is this property outside of Great Britain?"
                }
              ]
            }
          }
          ,

           
          {
            key: {
              text: "What is the estimated value of this property"
            },
            value: {
              text: "120,000"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "What is the estimated value of this property"
                }
              ]
            }
          }
          ,

            {
            key: {
              text: "Has this property been valued for any purpose in the last 5 years?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Has this property been valued for any purpose in the last 5 years?"
                }
              ]
            }
          }
          ,

          {
            key: {
              text: "Have any improvements been carried out on this property?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Have any improvements been carried out on this property?"
                }
              ]
            }
          }
          ,

          {
            key: {
              text: "Is there anything else that may affect the value of this property?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Is there anything else that may affect the value of this property?"
                }
              ]
            }
          }
          ,

           {
            key: {
              text: "Can you provide any information that would support your estimated value?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Can you provide any information that would support your estimated value?"
                }
              ]
            }
          }
          ,

          {
            key: {
              text: "Do you give us permission to arrange for this property to be valued by an independent valuer if necessary?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Do you give us permission to arrange for this property to be valued by an independent valuer if necessary?"
                }
              ]
            }
          }
        ]
      }) }}
<br>
<h2 class="govuk-heading-m">
  Attendance Allowance
</h2>

<p>
  The following information will be sent to Attendance Allowance
</p>
       {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Is the move into a care home?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Is the move into a care home?"
                }
              ]
            }
          }
          ,
          
           {
            key: {
              text: "When did you move?"
            },
            value: {
              text: "27 09 2025"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "When did you move?"
                }
              ]
            }
          }
          ,

         {
            key: {
              text: "Is this your home address?"
            },
            value: {
              text: "No my address has changed"
            },
            actions: {
              items: [
                {
                  href: "coa-q4",
                  text: "Change",
                  visuallyHiddenText: "Is this your home address?"
                }
              ]
            }
          }
          ,
      
          {
            key: {
              text: "Select your address"
            },
            value: {
              text: "17 Sage Road, London, AA3 1AB"
            },
            actions: {
              items: [
                {
                  href: "coa-q5",
                  text: "Change",
                  visuallyHiddenText: "Select your address"
                }
              ]
            }
          }
        ]
      }) }}


      <br>
<h3 class="govuk-heading-s">Now send your changes</h3>

<p>By submitting this change you agree that, to the best of your knowledge, the details you are providing are complete and correct.</p>

<p>If you give wrong or incomplete information, or you do not report changes straight away, you may:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>be prosecuted</li>
  <li>need to pay a financial penalty</li>
  <li>have your benefits reduced or stopped</li>
  <li>be paid too much and have to pay the money back</li>
</ul>
      <form action="/confirmation.html" method="post" novalidate>

        {{ govukButton({
          text: "Agree and submit",
          href: "confirmation.html",
        isButton: yes
        }) }}

      </form>

    </div>

    </div>
  </div>
{% endblock %}
