{% extends "layouts/main-3-RACO.html" %}

{% block pageTitle %}
  Pension Credit Question 21 - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.
    </span>
  </p>
</div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="pc-q35.html" method="post">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Pension Credit</span>
Has this property been valued for any purpose in the last 5 years? 
</h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="PropertyValuedInLast5Years" name="PropertyValuedInLast5Years" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="PropertyValuedInLast5Years">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="PropertyValuedInLast5Years-2" name="PropertyValuedInLast5Years" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="PropertyValuedInLast5Years-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

        {{ govukButton({
          text: "Save and continue",
          href: "pc-q35.html",
        isButton: yes
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
