{% extends "layouts/main-3-RACO.html" %}

{% block pageTitle %}
  Change details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.
    </span>
  </p>
</div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="pc-q3.html" method="post">

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Pension Credit</span>
    Find an address</h1>
  <div class="govuk-form-group">
    <label class="govuk-label" for="postcode">
      Postcode
    </label>
    <div id="postcode-hint" class="govuk-hint">
      For example, AA3 1AB
    </div>
    <input
      class="govuk-input govuk-!-width-two-thirds" id="postcode" name="postcode" type="text" aria-describedby="postcode-hint">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="searchString">
      Building number or name
    </label>
    <div id="searchString-hint" class="govuk-hint">
      For example, 15 or Prospect Cottage
    </div>
    <input
      class="govuk-input govuk-!-width-two-thirds" id="searchString" name="searchString" type="text" aria-describedby="searchString-hint">
  </div>
        {{ govukButton({
          text: "Find address",
          href: "pc-q3.html",
        isButton: yes
        }) }}
  <p class="govuk-body govuk-!-margin-bottom-0"><a href="#" class="govuk-link">Enter address manually</a></p>
</div>
  
</fieldset>
</div>



      </form>

    </div>
  </div>

{% endblock %}
