{% extends "layouts/main-3-RACO.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.
    </span>
  </p>
</div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="pc-q9.html" method="post">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Pension Credit</span>
  Is your new home owned or rented?
</h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="NewHomeOwnedOrRented" name="NewHomeOwnedOrRented" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="NewHomeOwnedOrRented">
          Owned
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="NewHomeOwnedOrRented-2" name="NewHomeOwnedOrRented" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="NewHomeOwnedOrRented-2">
          Rented
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="NewHomeOwnedOrRented-3" name="NewHomeOwnedOrRented" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="NewHomeOwnedOrRented-3">
          None of these
        </label>
      </div>
    </div>
  </fieldset>
</div>

        {{ govukButton({
          text: "Save and continue",
          href: "pc-q9.html",
        isButton: yes
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
