{% extends "layouts/main-3-RACO.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.
    </span>
  </p>
</div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="task-list-return.html" method="post">

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="cost">
      You have 27 days left to complete your change
    </label>
  </h1>
<p>You have a change in progress. If you do not complete and submit your change by 22nd February at 11:56 am you will need to start a new one.</p>
</div>

        {{ govukButton({
          text: "Continue",
          href: "task-list-return.html",
        isButton: yes
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
