{% extends "layouts/tell-dwp-about-a-change.html" %}
{% set title = "You cannot use this service" %}

{% block pageTitle %}
   {{ title }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% include "/v05/includes/alpha-header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      <p class="govuk-body">If your new address is a care home you need to <a href="">contact your benefit office (opens in a new tab)</a>.</p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Sign out",
          href: "/index"
        }) }}
        {{ govukButton({
          text: "Go back to account home",
          classes: "govuk-button--secondary",
          href: "/v05/customer-account/account-home"
        }) }}
      </div>

    </div>
  </div>

{% endblock %}
