{% extends "layouts/main-3-RACO.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "/v04/includes/alpha-header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You cannot use this service
      </h1>

<p class="govuk-body">If your new address is a care home or hospital you need to <a href="">contact your benefit office (opens in a new tab)</a>.</p>


      <form class="form" action="/v04/you-cannot-use-this-service/car-home" method="post">
        {{ govukButton({
          text: "Go back to account home"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
