{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Attendance Allowance</span>
  Confirm the details we already hold about you are correct
</h1>

<p>The following details about you will be included in your change request for Attendance Allowance.</p>

 {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Is the change in to a care home?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Is the change in to a care home?"
                }
              ]
            }
          }
          ,

          {
            key: {
              text: "When did you move?"
            },
            value: {
              text: "27 09 2025"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "When did you move?"
                }
              ]
            }
          }
          ,

           {
            key: {
              text: "Is this your home address?"
            },
            value: {
              text: "No my address has changed"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Is this your home address?"
                }
              ]
            }
          }
          ,

         {
            key: {
              text: "Select your address"
            },
            value: {
              text: "17 Sage Road, London, AA3 1AB"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Select your address"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="/task-list-aa-complete.html" method="post" novalidate>

        {{ govukButton({
          text: "Save and continue",
          href: "task-list-aa-complete.html",
        isButton: yes
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
