{% set serviceName = "Manage your benefits and State Pension" %}
{% extends "layouts/main.html" %}
{% set title = "Account home" %}

{% block pageTitle %}
   {{ title }} – Customer view
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-xl">{{ title }}</span>
<h1 class="govuk-heading-xl">Sarah Phillips</h1>

<p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">Get proof of your benefits</a>
</p>
<p class="govuk-body">
  <a href="personal-details.html" class="govuk-link govuk-link--no-visited-state">View your personal details</a>
</p>

    </div>
  </div>

{% endblock %}
