{% extends "layouts/main-2-RACO.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="coa-q4.html" method="post">

<div class="govuk-width-container">
  <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Change of address</span>
      Find an address</h1>
  <div class="govuk-form-group">
    <label class="govuk-label" for="postcode">
      Postcode
    </label>
    <div id="postcode-hint" class="govuk-hint">
      For example, AA3 1AB
    </div>
    <input
      class="govuk-input govuk-!-width-two-thirds" id="postcode" name="postcode" type="text" aria-describedby="postcode-hint">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="searchString">
      Building number or name
    </label>
    <div id="searchString-hint" class="govuk-hint">
      For example, 15 or Prospect Cottage
    </div>
    <input
      class="govuk-input govuk-!-width-two-thirds" id="searchString" name="searchString" type="text" aria-describedby="searchString-hint">
  </div>
        {{ govukButton({
          text: "Find address",
          href: "coa-q4.html",
        isButton: yes
        }) }}
  <p class="govuk-body govuk-!-margin-bottom-0"><a href="#" class="govuk-link">Enter address manually</a></p>
</div>
  
</fieldset>
</div>



      </form>

    </div>
  </div>

{% endblock %}
