{% extends "layouts/main-3-RACO.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.
    </span>
  </p>
</div>
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-xl">Account home</span>
<h1 class="govuk-heading-xl">Kathleen Jones</h1>

<p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">Get proof of your benefits</a>
</p>
<p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">View your personal details</a>
</p>
<p class="govuk-body">
  <a href="start-page.html" class="govuk-link govuk-link--no-visited-state">Tell DWP about a change</a>
</p>

    </div>
  </div>

{% endblock %}
