{% extends "layouts/main-3-RACO.html" %}

{% block pageTitle %}
  Starting question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.
    </span>
  </p>
</div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<h1 class="govuk-heading-l">
  What do you need to change?
</h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">

      <input class="govuk-radios__input"
      id="change-address"
      name="what-do-you-need-to-change"
      type="radio"
      value="address">
        
      <label class="govuk-label govuk-radios__label" for="what-do-you-need-to-change">
          Address
        </label>
      </div>

<div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
    
      <input class="govuk-radios__input"
      id="change-other"
      name="what-do-you-need-to-change"
      type="radio"
      value="other">

        <label class="govuk-label govuk-radios__label" for="what-do-you-need-to-change">
          My change is not listed here
        </label>
      </div>
    </div>
  </fieldset>
</div>

<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>

      </form>

    </div>
  </div>

{% endblock %}
