{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="aa-task-list-complete.html" method="post">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Attendance Allowance</span>
  Is the change into a care home?
</h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="isTheChangeIntoACareHome" name="isTheChangeIntoACareHome" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="isTheChangeIntoACareHome">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="isTheChangeIntoACareHome-2" name="isTheChangeIntoACareHome" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="isTheChangeIntoACareHome-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

        {{ govukButton({
          text: "Save and continue",
          href: "aa-task-list-complete.html",
        isButton: yes
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
