{% extends "layouts/main-3-RACO.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.
    </span>
  </p>
</div>
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Provide evidence</h1>

      <p>You will need to provide the following evidence as proof of your changes:</p>

      <h2 class="govuk-heading-m">Proof of capital</h2>
    <ul class="govuk-list govuk-list--bullet">
  <li>completion statement</li>
</ul>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        How do you want to send your evidence to us?
      </h2>
    </legend>

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
        <label class="govuk-label govuk-radios__label" for="signIn">
          By digital upload
        </label>
        <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
          You will need to register or log into your account and upload your documents online
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
        <label class="govuk-label govuk-radios__label" for="signIn-2">
          By post
        </label>
        <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
          We will send you a letter including a return envelope to send your evidence to us
        </div>
      </div>
    </div>
  </fieldset>
</div>


        {{ govukButton({
          text: "Save and continue",
          href: "task-list-upload-evidence-complete.html",
        isButton: yes
        }) }}

    </div>
  </div>

{% endblock %}
