{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Tell DWP about a change of address
      </h1>
<p class="govuk-body">Use this service to tell the Department for Work and Pensions (DWP) about a change of address for:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Attendance Allowance</li>
  <li>Carer’s Allowance</li>
  <li>Disability Living Allowance (DLA) for adults</li>
  <li>Pension Credit</li>
</ul>
<div class="govuk-inset-text">
  This service is also available in <a href="/path/of/page">Welsh</a>.
</div>
<p>You need to wait until you’ve moved before telling DWP about your new address.</p>
<p>To change your address for any other benefit or State Pension, you must contact the relevant team directly.</p>
      {{ govukButton({
        text: "Start now",
        href: "task-list.html",
        isStartButton: true
      }) }}
<h2 class="govuk-heading-m">Before you start</h2>
     <p>To update your address you will need to sign into your account.</p>  
<h2 class="govuk-heading-m">If you do not have an account</h2>
     <p>You need to register for an account if you’ve not used this service before.</p> 
     <p>To register, you need:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>an email address</li>
  <li>a mobile phone number</li>
  <li>your National Insurance number</li>
</ul>
<p>You’ll also have to prove your identity. You’ll need details of 2 types of identity documents for this, for example your:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>passport</li>
  <li>driving licence (you cannot use a Northern Ireland driving licence)</li>
  <li>Self Assessment, if you have one</li>
  <li>bank accounts, loans, mortgages or credit agreements</li>
</ul>
<h2 class="govuk-heading-m">If you’ve already registered</h2>
     <p>You need the email address, mobile phone and password you used to register.</p>
<h2 class="govuk-heading-m">Who cannot use this service</h2>
     <p>You cannot use this service if:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>you’re an appointee or manage somebody else’s benefits</li>
  <li>you live outside of England, Scotland or Wales</li>
</ul>  
<p>If you’re an appointee or manage someone else’s benefits, contact <TBC>.
If you live in Northern Ireland contact NI Direct.
If you live outside of the UK (England, Scotland, Wales and Northern Ireland) contact <TBC>.</p>
  
  <p>If you are claiming other benefits or State Pension you will need to contact them directly to tell them about your new address:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Universal Credit - contact the <a href="https://www.gov.uk/universal-credit/contact-universal-credit">Universal Credit helpline</a>.</li>
  <li>State Pension - contact the <a href="https://www.gov.uk/contact-pension-service">Pension Service</a>.</li>
  <li>Personal Independence Payment (PIP) - contact the PIP helpline at the <a href="https://www.gov.uk/disability-benefits-helpline">Disability Service Centre</a>.</li>
  <li>all other benefits - contact <a href="https://www.gov.uk/contact-jobcentre-plus">Jobcentre Plus</a>.</li>  
</ul>  
    </div>
  </div>

{% endblock %}
