{% extends "layouts/main-3-RACO.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.
    </span>
  </p>
</div>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="pc-q18.html" method="post">

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
              <span class="govuk-caption-l">Pension Credit</span>
    <label class="govuk-label govuk-label--l" for="cost">
      How much money did you receive from the sale of your previous home?
    </label>
  </h1>
  <div id="have-you-moved-abroad-hint" class="govuk-hint">
    This is the amount in pounds you received after all the fees were paid including any outstanding mortgage
  </div>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
  </div>
</div>

        {{ govukButton({
          text: "Save and continue",
          href: "pc-q18.html",
        isButton: yes
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
