{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Report A Change Once Prototype </h1>
<br>
<h2><a href="v01-journey-1/account-home.html">v01 Journey 1 - change of address - user testing</a></h2>
<p>LoB specific questions first and change of address capture second.</p>
<br>
<h2><a href="v01-journey-2/account-home.html">v01 Journey 2 - change of address - user testing</a></h2>
<p>Change of address taken first and LoB specific questions taken second.</p>
<br>
<h2><a href="v01-gov-uk-start-page/gov-uk-start-page.html">Report A Change Once - GOV UK start page</a></h2>
<p>GOV UK start page signposting the RACO service</p>
<br>
<h2><a href="v02-journey-1/account-home.html">v02 Journey 1 - change of address - user testing</a></h2>
<p>LoB specific questions first and change of address and education data capture second.</p>
<br>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
 <h2 class="govuk-heading-m"> About Report A Change Once</h2>
<p>
  Report A Change Once lets people tell DWP about a change of circumstance once.
</p>
<p>
  During alpha, we will test the change of address journey with citizens on a selection of benefits including:
</p>
  <ul class="govuk-list govuk-list--bullet">
        <li>Attendance Allowance</li>
        <li>Carers Allowance</li>
        <li>Disability Living Allowance</li>
        <li>Pension Credit</li>
      </ul>
  </div>
</div>

{% endblock %}
