{% extends "layouts/main-4-RACO.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">Report A Change Once Prototypes</h1>

<span class="govuk-caption-l">January 2026</span>
<h2 class="govuk-heading-l">Version three prototypes</h2>

<p><b>Please note:</b> The questions asked in the journey are based on the data capture requirements according to the latest versions of the relevant process maps / doc nodes. These maps are based on the as-is operational instructions. This may vary from actual processes currently in use.</p>
<p>All example content shown within the screens is based on GDS standards, style guidance and similar questions in other services. These are early drafts and will be iterated based on user evidence.</p>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Change log
    </span>
  </summary>
  <div class="govuk-details__text">

<p class="govuk-body">In version three we have:</p>
<ol class="govuk-list govuk-list--number">
  <li>We have changed the name to ‘Tell DWP about a change’ to test a less specific name for comparison with the last round of UR (Tell DWP about a change of address / Report a change)</li>
  <li>We have iterated the start page to explain RaCO as the place to report general changes (not framed as change of address). We have also added new content to set expectations about other questions they may be asked, and added a Welsh translation link (requirement from private beta onwards)</li>
  <li>We have added an example knock out page ‘You cannot use this service’ for the radio option ‘my change is not listed’ on the change type page. This is to test whether this design helps users to understand what they can report in RaCO, and where to report other changes.</li>
  <li>We have iterated the tag labels to make the list and dependent tasks clearer. Research findings from the Nov 2025 round showed that some users thought they could complete the list in any order. We have added different tag labels like ‘cannot start yet’ based on GDS pattern to make this more explicit.</li>
  <li>We have iterated the address playback screen to make it clearer which address we are asking for. Research findings from the Nov 2025 round showed that users were confused by the design of this screen as they were unsure whether it referred to their previous or new address. We have based this iterated design on another example from Digital Channels that has tested well.</li>
  <li>We have iterated the evidence screens to:
 <ul class="govuk-list govuk-list--bullet">
  <li>create an example with screens per evidence type</li>
  <li>create an example with one combined screen for all types</li>
  <li>add realistic evidence types taken from the DWP evidence standards</li>
  <li>add reassurance text to explain what the user should do if they do not have the evidence to hand or can’t upload it online. This example content is based on other similar evidence upload services including HMRC.</li>
</ul>
  </li>
  <li>We have iterated the confirmation page to:
    <ul class="govuk-list govuk-list--bullet">
  <li>add example content about notifications such as email or SMS</li>
  <li>add example content to explain that citizens will be contacted if their claim needs to be reassessed</li>
  <li>terated the example timeframe (6-8 weeks) to test a shorter timeframe (2-4 weeks). In the Nov 2025 UR round, users felt 6-8 weeks was a long time so we want to test perceptions around something shorter. Accurate average timeframes have not been determined yet, so these are just examples.</li>
</ul>
  </li>
</ol>

  </div>
</details>

<h3 class="govuk-heading-m">View prototypes</h3>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View version 3a, journey 1
    </span>
  </summary>
  <div class="govuk-details__text">
    <p><b>Version 3a - journey 1 scenario:</b> potential entitlement change (line of business questions frontloaded):</p>
    <ul class="govuk-list govuk-list--bullet">
  <li>Person is claiming PC and AA</li>
  <li>Person is in a couple</li>
  <li>Both are moving to a care home permanently</li>
  <li>The care is not funded by the local authority</li>
  <li>The customer owns a leasehold property themselves but has not sold it</li>
</ul>
    
    <p><b>Quick links</b></p>
    <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/v03-journey-1/start-page.html">Full journey - Version 3a </a>
  </li>
  <li>
    <a class="govuk-link" href="/v03-journey-1/pension-credit-questions/pc-q1.html">Pension Credit questions</a>
  </li>
  <li>
    <a class="govuk-link" href="/v03-journey-1/attendance-allowance-questions/aa-q1.html">Attendance Allowance questions</a>
  </li>
  <li>
    <a class="govuk-link" href="/v03-journey-1/change-details/coc-q1.html">Change details</a>
  </li>
  <li>
    <a class="govuk-link" href="/v03-journey-1/upload-evidence/upload-evidence-1.html">Upload Evidence</a>
  </li>
    <li>
    <a class="govuk-link" href="/v03-journey-1/review-and-submit.html">Review and Submit</a>
  </li>
</ul>
  </div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View version 3b, journey 2
    </span>
  </summary>
  <div class="govuk-details__text">
    <p><b>Version 3b - journey 2 scenario:</b> potential entitlement change (change questions frontloaded): This is as above, but leading with the change of circumstances questions first, followed by the line of business questions.</p>
    <p><b>Quick links</b></p>
    <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Pension Credit questions</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Attendance Allowance questions</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Change details</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Upload Evidence</a>
  </li>
    <li>
    <a class="govuk-link" href="#">Review and Submit</a>
  </li>
</ul>
  </div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View version 3c - No longer eligible journey (ARCHIVE)
    </span>
  </summary>
  <div class="govuk-details__text">
<p><b>Version 3c - no longer eligible scenario:</b> Citizen reports a change that will make them ineligible for the benefit. We agreed with the team 28/1/26 that we will park this as there is little difference from the other scenarios and limited value in testing at this stage.</p>  
<p>This is because:</p>
 <ul class="govuk-list govuk-list--bullet">
  <li>We cannot advise the user that they are not / may not be eligible - this must be a human decision. There are also potential F&E error implications to stating this within the service</li>
  <li>RaCo will not touch policy</li>
    </ul>
<p><b>Quick links</b></p>
    <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Full journey - Version 3c</a>
  </li>
</ul>
</div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View version 3d - Save and return journey
    </span>
  </summary>
  <div class="govuk-details__text">
<p><b>Version 3d - save and return scenario:</b> Citizen needs to leave the journey to find evidence and return later (save and return feature)</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Citizen has downsized in the UK</li>
  <li>They owned and have sold their previous property. They used the proceeds to buy the new property with no mortgage, and have money left over from the sale</li>
  <li>They do not have over £10k in savings</li>
  <li>The money left over from the sale and their capital is less than £10K</li>
  <li>Evidence requirement is a completion statement used to determine capital</li>
</ul>
<p><b>Quick links</b></p>
    <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/v03-journey-3/account-home.html">Full journey - Version 3d</a>
  </li>
</ul>  
</div>
</details>

  <div class="govuk-!-padding-4 govuk-!-margin-bottom-6" style="background-color:#ECF2F9; border-radius:5px;">
        <p>This prototype assumes the citizen has logged into Customer Account via OneLogin. Access to RaCo in this example is via the Account homepage.</p>
      </div>

  <div class="govuk-!-padding-4 govuk-!-margin-bottom-6" style="background-color:#ECF2F9; border-radius:5px;">
        <p>Some data entries like address have been hard coded for ease during testing.</p>
      </div>

<br>

<h2 class="govuk-heading-m">ROUND 1 - user testing </h2>

<h3><a href="v01-journey-2/account-home.html">v01 Journey 2 - change of address - user testing</a></h3>
<p>Change of address taken first and LoB specific questions taken second.</p>

<h3><a href="v01-gov-uk-start-page/gov-uk-start-page.html">Report A Change Once - GOV UK start page</a></h3>
<p>GOV UK start page signposting the RACO service</p>

<h3><a href="v02-journey-1/account-home.html">v02 Journey 1 - change of address - user testing</a></h3>
<p>LoB specific questions first and change of address and education data capture second.</p>

<h2 class="govuk-heading-m">ARCHIVE - previous iterations of prototypes</h2>

<h3><a href="v01-journey-1/account-home.html">v01 Journey 1 - change of address - user testing</a></h3>
<p>LoB specific questions first and change of address capture second.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
 <h2 class="govuk-heading-m"> About Report A Change Once</h2>
<p>
  Report A Change Once lets people tell DWP about a change of circumstance once.
</p>
<p>
  During alpha, we will test the change of address journey with citizens on a selection of benefits including:
</p>
  <ul class="govuk-list govuk-list--bullet">
        <li>Attendance Allowance</li>
        <li>Carers Allowance</li>
        <li>Disability Living Allowance</li>
        <li>Pension Credit</li>
      </ul>
  </div>
</div>

{% endblock %}
