{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Tell DWP about a change of address
      </h1>
<p class="govuk-body">You can tell us about a change of address for some of your benefits using this service but not all of them.</p>
<p>This is because not all of your benefits are online yet.</p>

<h2 class="govuk-heading-m">You cannot use this service to update your address for some of your benefits</h2>
<h3 class="govuk-heading-s"> Universal Credit</h3>
<p>You can update your address using your <a href="https://www.gov.uk/sign-in-universal-credit">Universal Credit online account</a> if you have one or contact the <a href="https://www.gov.uk/universal-credit/contact-universal-credit">Universal Credit helpline</a></p>  

<h3 class="govuk-heading-s"> Personal Independence Payment</h3>
<p>You can update your address by calling the <a href="https://www.gov.uk/disability-benefits-helpline">Disability Service Centre</a></p>  


<h2 class="govuk-heading-m">You can use this service to update your address for the following benefits</h2>

<p>If you continue, you can update your address online for:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Attendance Allowance</li>
  <li>Carer's Allowance</li>
</ul>

<p>To change your address for any other benefit or State Pension, you must contact the relevant team directly.</p>
      {{ govukButton({
        text: "Start now",
        href: "task-list.html",
        isStartButton: true
      }) }}

    </div>
  </div>

{% endblock %}
