{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% from "service-header/service-header.njk" import govukOneLoginServiceHeader %}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block header %}

{% block govukHeader %}
  {{ govukOneLoginServiceHeader({
    signOutLink: "/test-signout",
    oneLoginLink: "/test-one-login",
    homepageLink: "/index.html",
    lng: "eng"
  }) }}
{% endblock %}

{{ govukServiceNavigation({
  serviceName: serviceName,
  serviceUrl: "/index.html"
}) }}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback (opens in new tab)</a>.'
}) }}

{% from "language-toggle/macro.njk" import dwpLanguageToggle %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.back()"
      }) }}
    </div>
    <div class="govuk-grid-column-one-half">
      {{
          dwpLanguageToggle({
              selectedLang: "en",
              href: {
                  en: "/patterns/toggle-to-welsh/examples/en",
                  cy: "/patterns/toggle-to-welsh/examples/cy"
              }
          })
      }}
    </div>
  </div>
</div>

{% endblock %}